@mixin pt-sans-caption-norm($font-size, $line-height) {
    font-family: "PT Sans Caption";
    font-weight: normal;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin pt-sans-caption-bold($font-size, $line-height) {
    font-family: "PT Sans Caption";
    font-weight: bold;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin padding_top-bottom($padding-top, $padding-bottom) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}