@font-face {
	font-family: "Arial";
	src: url("../fonts/ArialMT.eot");
	src: url("../fonts/ArialMT.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ArialMT.woff2") format("woff2"),
		url("../fonts/ArialMT.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Verdana";
	src: url("../fonts/Verdana.eot");
	src: url("../fonts/Verdana.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Verdana.woff2") format("woff2"),
		url("../fonts/Verdana.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}