.communications {
	margin-top: 105px;
    padding-left: 30px;
    
    &__items {
        color: #fff;
        font-family: "PT Sans Caption";
        font-weight: bold;
        
        &--big-fz {
            margin-bottom: 35px;
            font-size: 24px;
            line-height: 24px;
            
            @media #{$tablet} {
                font-size: 20px;
            }
        }
        
        &--biger-fz {
            display: block;
            margin-bottom: 10px;
            font-size: 32px;
            line-height: 30px;
            
            @media #{$tablet} {
                font-size: 20px;
            }
        }
        
        &--medium-fz {
            margin-bottom: 45px;
            font-size: 30px;
            line-height: 24px;
            
            @media #{$tablet} {
                font-size: 20px;
            }
        }
        
        &--low-fz {
            font-size: 14px;
            line-height: 18px;
            font-family: "Verdana";
            font-weight: normal;
            
            @media #{$tablet} {
                font-size: 14px;
            }
        }
    }
}