.page-footer {
    background: #f3f3f3;
    
    @media #{$tablet} {
            text-align: center;
        }
    
    &__wrapper {
        padding-top: 29px;
        max-width: 821px;
        margin: 0 auto;
    }
    
    &__site {
        display: inline-block;
        width: 25%;
        margin-right: 26%;
        vertical-align: top;
            
        @media #{$tablet} {
            width: 100%;
        }
    }
    
    &__link {
        font-size: 17px;
        line-height: 24px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #808080;
    }
    
    &__roof {
        display: inline-block;
        width: 20%;
        margin-right: 9%;
        vertical-align: top;
        font-size: 17px;
        line-height: 24px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #808080;
        
        @media #{$tablet} {
            width: 100%;
        }
    }
    
    &__roof-items {
        
        &--marginb {
            margin-bottom: 19px;
        }
    }
    
    &__roof-links {
        font-size: 14px;
        line-height: 24px;
        font-family: "Open Sans";
        font-weight: normal;
        color: #8b8b8b;
        
        &:hover {
            color: #3a96c5;
        }
    }
    
    &__menu {
        margin-bottom: 30px;
        display: inline-block;
        width: 15%;
        vertical-align: top;
            
        @media #{$mobile} {
            width: 100%;
        }
    }
    
    &__menu-items {
        font-size: 17px;
        line-height: 24px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #808080;
        
        &--marginb {
            margin-bottom: 19px;
        }
    }
    
    &__menu-links {
        font-size: 14px;
        line-height: 24px;
        font-family: "Open Sans";
        font-weight: normal;
        color: #8b8b8b;
        
        &:hover {
            color: #3a96c5;
        }
    }
}