//FORM WRAPPER
.form-wrapper {
    float: right;
    max-width: 388px;
    padding: 35px 20px 37px 20px;
    box-sizing: border-box;
    background: #fff;
    
    @media #{$tablet} {
            float: none;
            margin: 0 auto;
            margin-bottom: 20px;
            overflow: hidden;
        }
    
//    @media #{$desktop-sm} {
//            float: none;
//            margin: 0 auto;
//    }
    
    &__title {
        margin: 0;
        font-size: 29px;
        text-transform: uppercase;
        
        &--fz-low {
            font-size: 20px;
        }
        
        &--line-through {
            font-weight: normal;
            text-decoration: line-through;
        }
        
        @media #{$tablet} {
            font-size: 20px;
        }
    }
    
    &__descr {
        position: relative;
        margin-bottom: 21px;
        font-size: 15px;
        line-height: 30px;
        z-index: 1;
        color: #fff;
        
        &--decor {
            
            &::before {
                position: absolute;
                content: "";
                top: -2px;
                left: -42px;
                width: 421px;
                height: 46px;
                background: url("/img/icon-form.png") no-repeat 50% 50%;
                z-index: -1;
            }
        }
    }
    
}

.form-wrapper-bottom {
    margin-top: 24px;
    margin-right: 5px;
    padding: 38px 20px 50px 20px;
    
    @media #{$tablet} {
        margin: 0 auto;
        margin-top: 10px;
    }
}

//FORM CONNECT

.form-connect {
    
    &__fio {

    & label {
        display: block;
        font-size: 15px;
        line-height: 30px;
    }
 }
    &__text-inputs-wrapper {
        margin-bottom: 20px;
    }
    &__tel-inputs-wrapper {
        margin-bottom: 20px;
        // по умолчанию имеет display: block; поэтому растянулся на  всю ширину блока и эл снизу обтекают ег снизу. также использован, чтобы задать margin внизу.
        
        & label {
            display: block;
            font-size: 15px;
            line-height: 30px;
            text-align: left;
        } 
    }
    
    &__mail-inputs-wrapper {
        margin-bottom: 34px;
    }
    
    &__mail-bottom {
        margin-bottom: 18px;
    }
    
    //блок со стилями для input
    
    &__text-inputs {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 18px;
        box-sizing: border-box;
    }
    
    &__tel-inputs {
        float: left;
        margin-right: 3%;
        text-align: center;
        font-size: 18px;
        box-sizing: border-box;
        
        &--small {
            width: 20%; // минимум глобальных стилей
            height: 50px;
        }
        
        &--medium {
            width: 30%; // минимум глобальных стилей
            height: 50px;
        }
        
        &--large {
            margin-right: 0;
            width: 44%; // минимум глобальных стилей
            height: 50px;
            margin-bottom: 20px;
        }
    
    }
    
    &__mail-inputs {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 18px;
        box-sizing: border-box;
    }

}

.popup-callback {
    display: none;
}