.gallery {
    margin-left: 30px;
    margin-bottom: 40px;
    
    &__img {
        display: inline-block;
    }
    
    &__all {
        margin-left: 30px;
    }
    
    &__link {
        font-size: 14px;
        line-height: 24px;
        font-family: "Verdana";
        font-weight: normal;
        text-decoration: underline;
        color: #3a96c5;
    }
}