.general {
    margin-top: 55px;
    background: url("/img/bg-adv.jpg") repeat;
    
    &--shadow {
        box-shadow: inset 0 2px 40px -13px #494A4A;
    }
    
    @media #{$mobile} {
        margin-top: 55px;
    }
    
    &--white {
        background: #fff;
    }
    
    
    
    &__list {
        &--border {
            border-left: 1px solid #dcdcdc;
        }
    }
    
    &__content-wrapper {
        max-width: 821px;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 22px;
        
        &--padding {
            padding-top: 16px;
            padding-bottom: 54px;
        }
    }
    
    &__title {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 37px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #fefefe;
        
        @media #{$tablet} {
            padding-left: 20px;
        }
    }
    
    &__left {
        display: inline-block;
        width: 62%;
//        max-width: 508px;
        
        @media #{$mobile} {
            width: 100%;
        }
        
        &--marginr {
            margin-right: 29px;
            
            @media #{$tablet} {
                margin-right: 0;
            }
        }
    }
    
    &__right {
        position: relative;
        display: inline-block;
        width: 37%;
//        max-width: 281px;
        vertical-align: top;
        
        &--narrow {
            width: 33%;
            
            @media #{$mobile} {
                width: 100%;
            }
        }
        
        &--paddingt {
            @media #{$mobile} {
            padding-top: 200px;
            padding-right: 10px;
            width: 100%;
        }
    }
  }
}