.general {
    background: url("/img/bg-adv.jpg") repeat;
    
    &--white {
        background: #fff;
    }
    
    &__content-wrapper {
        max-width: 821px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__title {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 37px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #fefefe;
    }
    
    &__left {
        display: inline-block;
        width: 62%;
    }
    
    &__right {
        display: inline-block;
        width: 37%;
        vertical-align: top;
    }
}