.info-blocks {
    max-width: 821px;
    min-height: 150px;
    line-height: 142px;
    margin: 0 auto;
    
    @media #{$tablet} {
        text-align: center;
    }
    
    &__logo {
        display: inline-block;
        margin-left: -9px;
        margin-right: 5%;
        width: 23%;
        line-height: normal;
        vertical-align: middle;
        
        @media #{$tablet} {
            display: block;
            width: auto;
            margin: 0 auto;
            margin-top: 10px;
            
        }
    }
    
    &__slogan {
        display: inline-block;
        width: 42%;
        margin-right: 5%;
        line-height: normal;
        vertical-align: middle;
//        max-width: 350px;
        
        @media #{$tablet} {
            display: block;
            width: auto;
            margin: 0 auto;
            margin-top: 10px;
            
        }
    }
    
    &__top-contacts {
        display: inline-block;
        width: 25%;
        line-height: normal;
        vertical-align: middle;
//        max-width: 205px;
        
        @media #{$tablet} {
            display: block;
            width: auto;
            margin: 10px auto;
        }
    }
    
    &__title {
        font-size: 24px;
        font-family: "PT Sans Caption";
        font-weight: bold;
    }
    
    &__items {
        
        &--gray {
            font-size: 16px;
            line-height: 30px;
            font-family: "Open Sans";
            font-weight: normal;
            color: #808080;
        }
    }
    
    &__tel {
        font-size: 22px;
        line-height: 24px;
        font-family: "PT Sans Caption";
        font-weight: bold;
    }
    
    &__callback-order {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 12px;
        font-size: 13px;
        line-height: 24px;
        font-family: "PT Sans Caption";
        font-weight: normal;
        text-decoration: underline;
        color: #3a96c5;
        background-position: -27px -24px;
        background-image: url("/img/sprite.png");
        background-repeat: no-repeat;
            
            &:hover {
                color: #0f5c85;
                background-position: -14px -96px;
                background-image: url("/img/sprite.png");
                background-repeat: no-repeat;
        }
    }
}