.main-nav {
    position: relative;
    max-width: 821px;
	min-height: 60px;
    margin: 0 auto;
    
    @media #{$tablet} {
        display: none;
    }
    
    &__toogle {
        display: none;
        border: 0;
        position: absolute;
        content: "";
        width: 50px;
        height: 33px;
        top: 20px;
        right: 12px;
        background: url("/img/hamburger-blue.png") no-repeat 50% 50%;
        z-index: 5;
        
        @media #{$tablet} {
            display: block;
        }
    }
    
    &__list {
        position: relative;
        display: inline-block;
        width: 60%;
        line-height: 60px;
        
        @media #{$tablet} {
            width: 100%;
        }
    }
    
    &__list-users {
        display: inline-block;
        width: 39%;
        line-height: 60px;
        text-align: right;
        
        @media #{$tablet} {
            width: 100%;
        }
    }
    
    &__items {
            display: inline-block;
            margin-right: 9%;
        
        @media #{$tablet} {
            display: block;
            padding-left: 30px;
        }
        
        &--no-margin {
            margin-right: 0;
        }
        
        &--price {
            position: relative;
            width: 120px;
            height: 60px;
            margin-right: 3%;
            text-align: center;
            background: #3a96c5;
            background-position: -2px -259px;
            background-image: url("/img/sprite.png");
            background-repeat: no-repeat;
            
            &:hover {
                background-position: -2px -317px;
                background-image: url("/img/sprite.png");
                background-repeat: no-repeat;
            }
            
            @media #{$tablet} {
                width: auto;
                height: auto;
                text-align: left;
                background: #0f5c85;
            }
                @media #{$tablet} {
                    position: static;
            }
        }
        
        &--dealer {
            position: relative;
            padding-left: 40px;
            background-position: -15px -142px;
            background-image: url("/img/sprite.png");
            background-repeat: no-repeat;
            
            &:hover {
                background-position: -15px -199px;
                background-image: url("/img/sprite.png");
                background-repeat: no-repeat;
                
                @media #{$tablet} {
                padding-left: 30px;
                text-align: left;
                background-image: none;
            }
            }
            
            @media #{$tablet} {
                padding-left: 30px;
                text-align: left;
                background-image: none;
            }
            

        }
    }
        
        
   
    
    &__links {
        padding: 20px 0;
        font-size: 14px;
        line-height: 24px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        
        &--button {
            position: relative;
        }
        
            &:hover {
                color: #78acc8;
            }

            &--icon {
                margin-right: 0;
                padding-left: 30px;
                
                &:hover {
                    color: #0f5c85;
                    
                    @media #{$tablet} {
                        color: #78acc8;
                    }
                }
                
                @media #{$tablet} {
                    padding-left: 0;
                }
         }
    }
 }

.slicknav_menu {
    display: none;
    
    @media #{$tablet} {
        display: block;
    }
}