.offers-title {
    margin-bottom: 50px;
    margin-left: 30px;
	font-size: 20px;
    line-height: 24px;
    font-family: "PT Sans Caption";
    font-weight: bold;
    color: #3a96c5;
}

.offers {
    
    &__items {
        margin-bottom: 50px;
    }
    
    &__header {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 18px;
        font-family: "PT Sans Caption";
        font-weight: bold;
        color: #595959;
    }
    
    &__descr {
        font-size: 12px;
        line-height: 18px;
        font-family: "Verdana";
        font-weight: normal;
        color: #595959;
        
        &--marginb {
            margin-bottom: 15px;
        }
    }
    
    &__link-more {
        font-size: 12px;
        line-height: 18px;
        font-family: "Verdana";
        font-weight: normal;
        text-decoration: underline;
        color: #3a96c5;
    }
}