.site-dev {
    padding-top: 12px;
    padding-bottom: 30px;
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #dcdcdc;
    
    &__items {
        display: inline-block;
        margin-right: 5px;
    }
    
    &__link {
        
        font-size: 12px;
        line-height: 21px;
        font-family: "Open Sans";
        font-weight: normal;
        color: #8b8b8b;
        
        &:hover {
            color: #3a96c5;
        }
    }
    
    &__logo {
        display: inline-block;
    }
    
    &__img {
        filter: grayscale(100%);
        
        &:hover {
            filter: grayscale(0);
        }
    }
}

